body
  height: 100vh
  font-family: Dosis
  overflow: hidden
  width: 100vw

main
  align-items: center
  background-attachment: fixed
  background: $background-image center center
  background-size: 100vw
  bottom: 0
  display: flex
  flex-flow: column nowrap
  justify-content: flex-end
  left: 0
  position: absolute
  right: 0
  top: 0

  &.-full-height-bg
    background-size: auto 100vh