$background-image: url('https://source.unsplash.com/category/nature/1280x800')
$overlay: #000

.-blurred-bg
  position: relative

  &:before,
  &:after
    bottom: 0
    content: ''
    left: 0
    position: absolute
    right: 0
    top: 0
    z-index: 1

  &:before
    background: $background-image center center
    background-attachment: fixed
    background-size: cover
    -webkit-filter: blur(10px)

  &:after
    background-color: rgba($overlay, 0.3)

  > *
    position: relative
    z-index: 2